@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bg-card {
  background-color: rgba(53, 17, 101, 0.4);
}

.circle-border {
  border: 1px solid #533C72;
  border-radius: 50%;
  padding: 5px;
}